= simple_nested_form_for [:admin, @survey] do |f|
  ul.nav.nav-tabs
    - available_locales.each do |i_locale|
      li class="#{(i_locale == current_locale) ? 'active' : ''}"
        = link_to i_locale, "##{i_locale}", 'data-toggle' => "tab"
  .tab-content
    = f.simple_fields_for :translations, wrapper: false do |g|
      .tab-pane id=g.object.locale class="#{(g.object.locale == current_locale) ? 'active' : ''}"
        = g.input :id, as: :hidden
        = g.input :locale, as: :hidden
        = g.input :question
  = f.association :app, include_blank: false
  = f.input :multiple
  = f.input :active
  = f.simple_fields_for :variants do |v|
    = v.input :text
    = v.link_to_remove 'Remove'
  = f.link_to_add 'Add', :variants
  = f.submit
