= link_to 'New', new_admin_survey_path, class: 'btn btn-info'
table.table.table-bordered.table-striped
  tr
    th App
    th Question
    th Multiple
    th Active
    th Actions
  - @surveys.each do |survey|
    tr
      td = link_to survey.app.title, admin_app_path(survey.app)
      td = survey.question
      td = survey.multiple
      td = survey.active
      td
        .btn-group
          = link_to 'Edit', edit_admin_survey_path(survey), class: 'btn btn-warning'
          = link_to 'Destroy', admin_survey_path(survey), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'
