= simple_form_for [:admin, @app], html: { class: 'form-horizontal' } do |f|
  ul.nav.nav-tabs
    - available_locales.each do |i_locale|
      li class="#{(i_locale == current_locale) ? 'active' : ''}"
        = link_to i_locale, "##{i_locale}", 'data-toggle' => "tab"
  .tab-content
    = f.simple_fields_for :translations do |g|
      .tab-pane id=g.object.locale class="#{(g.object.locale == current_locale) ? 'active' : ''}"
        = g.input :id, as: :hidden
        = g.input :locale, as: :hidden
        = g.input :title
        = g.input :info
  = f.input :google_name
  = f.input :background
  = f.input :download_url
  = f.submit
