= link_to 'New', new_admin_app_path, class: 'btn btn-info btn-xs'
br
br
table.table.table-bordered.table-striped
  tr
    th Title
    th Info
    th image
    th Download url
    th Actions
  - @apps.each do |app|
    tr
      td = app.title
      td = app.info
      td = image_tag(app.background.url(:medium))
      td
        - if app.download_url.present?
          = link_to app.download_url
        - else
          = "No link provided"
      td
        .btn-group-vertical.btn-group-xs
          = link_to 'Edit', edit_admin_app_path(app), class: 'btn btn-warning'
          = link_to 'Destroy', admin_app_path(app), data: { method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-danger'
