div
  div
    carousel style="height:100vh;"
      slide active="slide.active" class="main-image" style="background-image: url('{{slide.image}}')" ng-repeat=("slide in slides")
        .carousel-caption
          h4
            a ui-sref="app({id: slide.id})" {{slide.text}}
          p
            | {{slide.description}}
