div class="main-image" style="background-image: url('{{app.image}}')"
  .app-block
    h1
      | {{app.title}}
    h3
      | {{app.rating}}
    .play ng-show="app.link"
      = image_tag 'google_play.png'
    p ng-bind-html="app.description | trust_html"
  div  ng-repeat="survey in surveys"
    .survey-block
      h1  ng-init="vars = load_variants(survey.id)"
        | {{survey.question}}
      ul
        li ng-repeat="var in vars"
          ' {{var.text}} ({{var.votes}})
          a ng-click="upvote(survey.id, var)" ng-show="can_vote(survey, var)" +
        li ng-show="variant.text"
          ' {{variant.text || 'Ваш вариант'}} ({{variant.votes}})
          a ng-click="upvote(survey.id, variant)" ng-show="can_vote(survey, variant)" +
        form ng-show="can_add_variant_for(survey)" ng-init="variant = new_variant()" ng-submit="variant.$save({app_id: app.id, survey_id: survey.id})" novalidate="true"
          textarea ng-model="variant.text"
          button type="submit" ok
