@font-face {
  font-family: Roboto Regular;
  src: font-url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  // height:100vh;
  overflow: hidden;
  background-color: black;
  font-family: 'Roboto Regular';
  margin: 0px;
  padding: 0px;
  color: #fff;
}
a {
  cursor: pointer;
}
.carousel, .item, .active {
  height:100%;
}
.carousel-inner {
  height:100%;
}
.main-image {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
  text-shadow: #000 1px 1px;
  background-size: 100%;
}
.navbar {
  background-color: transparent;
  background: transparent;
  border: 0px;
}
.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}
.navbar-nav li {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: white;
  text-shadow: #000 1px 1px;
}
.carousel-indicators {
  display: none;
}
.carousel-caption {
  top: 50%;
  margin-top: -82px;
  h4 {
    font-size: 50px;
  }
  p {
    font-size: 32px;
  }
}
.play {
  position: relative;
  top: 60px;
  left: 200px;
  z-index: 100;
}
.questions {
  position: absolute;
  bottom: 20px;
  left: 200px;

  .question {
    color: white;
  }
}

.block {
  min-height: 200px;
  font-size: 14px;
  color: #fff;
  padding: 15px;
}
.app-block {
  @extend .block;
  text-align: right;
}
.survey-block {
  @extend .block;
  text-align: left;
}
form {
  color: #000;
}
.carousel-control .icon-prev:before {
  content: '';
}
.carousel-control .icon-prev {
  background: image-url('left.png');
  width: 100px;
  height: 200px;
  margin-top: -100px;
  margin-left: -50px;
}
.carousel-control .icon-next:before {
  content: '';
}
.carousel-control .icon-next {
  background: image-url('right.png');
  width: 100px;
  height: 200px;
  margin-top: -100px;
  margin-left: -50px;
}
.flags {
  position: absolute;
  top: 15px;
  right: 15px;
}
