= simple_form_for [:admin, @static_page] do |f|
  ul.nav.nav-tabs
    - available_locales.each do |i_locale|
      li class="#{(i_locale == current_locale) ? 'active' : ''}"
        = link_to i_locale, "##{i_locale}", 'data-toggle' => "tab"
  .tab-content
    = f.simple_fields_for :translations do |g|
      .tab-pane id=g.object.locale class="#{(g.object.locale == current_locale) ? 'active' : ''}"
        = g.input :id, as: :hidden
        = g.input :locale, as: :hidden
        = g.input :content, as: :ckeditor
  = f.input :slug, include_blank: false
  = f.submit
