= link_to 'New', new_admin_static_page_path, class: 'btn btn-info'
table.table.table-bordered.table-striped
  tr
    th Title
    th Actions
  - @static_pages.each do |page|
    tr
      td = page.slug
      td
        .btn-group
          = link_to 'Edit', edit_admin_static_page_path(page), class: 'btn btn-warning'
          = link_to 'Destroy', admin_static_page_path(page), data: { method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-danger'
