ul.nav.navbar-nav
  li: a ui-sref='apps' = t('menu.apps')
  li: a ui-sref='document({name: "about"})' = t('menu.about')
  li: a ui-sref='sitemap' = t('menu.sitemap')
  li: a ui-sref='feedback' = t('menu.contact')
.flags
  = link_to image_tag('en.png'), 'http://en.ilya-kolodnik.info'
  = link_to image_tag('ru.png'), 'http://ru.ilya-kolodnik.info'
