script type="text/ng-template" id="/apps.html" = render template: 'apps/index'
script type="text/ng-template" id="/app_show.html" = render template: 'apps/show'
script type="text/ng-template" id="/sitemap.html" = render template: 'info/sitemap'
script type="text/ng-template" id="/feedback.html" = render template: 'feedback/feedback'
