doctype html
html
  head
    title Kir
    = stylesheet_link_tag    "admin", media: "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  body
    nav.navbar.navbar-default role="navigation"
      .collapse.navbar-collapse
        = render_navigation expand_all: true, renderer: :bootstrap, context: :admin
    .container
      = yield
