doctype html
html ng-app="Kir"
  head
    title Kir
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
  body
    nav.navbar.navbar-default.navbar-inverse role="navigation"
      .collapse.navbar-collapse
        = render 'layouts/nav'
    .content ui-view=true
      = yield
    = render 'layouts/templates'
