doctype html
html
  head
    title Kir
    = stylesheet_link_tag    "application", media: "all"
  body
    = link_to 'Russian version', 'http://ru.ilya-kolodnik.info'
    br
    br
    = link_to 'English version', 'http://en.ilya-kolodnik.info'
